[submodule "apps"]
	path = apps
	url = https://github.com/XuNeo/incubator-nuttx-apps.git
	branch = luavgl
[submodule "nuttx"]
	path = nuttx
	url = https://github.com/XuNeo/incubator-nuttx.git
	branch = luavgl
